@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100 transition-colors;
  }
}
